@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(0deg, rgba(247, 247, 247, 1) 23.8%, rgba(252, 221, 221, 1) 92%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.music-container {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 20px 20px 0px rgba(252, 169, 169, .6);
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin: 100px 0px;
}

.img-container {
    position: relative;
    width: 110px;
}

.img-container::after {
    content: '';
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    width: 10px;
    height: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-container img {
    border-radius: 50%;
    object-fit: cover;
    height: 110px;
    width: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: rotate 3s linear infinite;
    animation-play-state: paused; 
}

.music-container.play .img-container img {
    animation-play-state: running;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.action-btn {
    background-color: #fff;
    color: #dfdbdf;
    border: 0;
    font-size: 20px;
    cursor: pointer;
    margin: 0px 20px;
    padding: 10px;
}

.action-btn-big {
    color: #cdc2d0;
    font-size: 30px;
}

.action-btn:focus {
    outline: none;
}

.music-info {
    background-color: rgba(255,255,255, 0.5);
    border-radius: 15px 15px 0px 0px;
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    padding: 10px 10px 10px 150px;
    transform: translateY(0%);
    transition: transform .3s ease-in, opacity .3s ease-in;
    z-index:0;
    opacity: 0;
}

.music-container.play .music-info {
    opacity: 1;
    transform: translateY(-100%);
}

.progress-container {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    height: 4px;
    width: 100%;
    margin: 10px 0px;
}

.progress {
    background-color: #fe8daa;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width .1s ease-in;
}

.time-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}